{% extends "Master/PanelController.html.twig" %}

{% block bodyHeaderOptions %}
    {% set pageData = fsc.getPageData() %}
    <div class="container-fluid mb-2">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-11 text-right">
                <h1 class="h4">
                    {{ fsc.title }}
                    <i class="{{ pageData.icon }} fa-fw" aria-hidden="true"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Macros Template Imports -->
    {% import 'Macro/Forms.html.twig' as forms %}
    <div class="container">
        <div class="card shadow">
            <div class="card-body">
                <h1 class="h3">
                    <i class="fas fa-user" aria-hidden="true"></i> {{ i18n.trans('Permisos Familia') }}
                </h1>
                <p>{{ i18n.trans('En esta venta podras asignarle al usuario seleccionado las familias con las que podra trabajar.') }}</p>
                <hr/>
                <form method="post" class="form" id="formPermisosFamilias">
                    <input type="hidden" name="action" value="savePermisosFamilia"/>
                    {{ formToken() }}
                    <div class="form-row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ forms.simpleInput('codpermiso', 'codpermiso',permisosfacmilias, 'serial', i18n.trans('id'),
                                    'fas fa-user-cog', {'maxlength': '100'}) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ forms.simpleSelect('nick', 'nick', nick, fsc.getSelectValues('User', false, 'nick'),
                                i18n.trans('Usuario'), 'fas fa-users') }}
                            </div>
                        </div>                     
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ forms.multiSelect('codfamilia', 'codfamilia', codfamilia, fsc.getSelectValues('Familia', false, 'descripcion'),
                                    i18n.trans('Familia'), 'fas fa-laptop-house') }}
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <a class="btn btn-danger" href="/ListPermisosMarca" role="button">Volver</a>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary text-right" id="btnPermisoUsuario">
                                {{ i18n.trans('save') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br/>
    </div>
{% endblock %}